[submodule "programs/qwebchannel/html/jquery/jquery-ui/fancytree"]
	path = programs/qwebchannel/html/jquery/jquery-ui/fancytree
	url = git@github.com:dewhisna/fancytree.git
[submodule "programs/qwebchannel/html/jquery/jquery-ui/turn.js"]
	path = programs/qwebchannel/html/jquery/jquery-ui/turn.js
	url = git@github.com:dewhisna/turn.js.git
[submodule "programs/qwebchannel/html/jquery/jquery-ui/malihu-custom-scrollbar-plugin"]
	path = programs/qwebchannel/html/jquery/jquery-ui/malihu-custom-scrollbar-plugin
	url = git@github.com:dewhisna/malihu-custom-scrollbar-plugin.git
[submodule "programs/qwebchannel/html/jquery/jquery-ui/jquery-loading-overlay"]
	path = programs/qwebchannel/html/jquery/jquery-ui/jquery-loading-overlay
	url = git@github.com:dewhisna/jquery-loading-overlay.git
[submodule "programs/qwebchannel/html/jquery/jquery-ui/geolocator"]
	path = programs/qwebchannel/html/jquery/jquery-ui/geolocator
	url = git@github.com:dewhisna/geolocator.git
