[submodule "programs/qwebchannel/html/jquery/jquery-ui/jquery-tree"]
	path = programs/qwebchannel/html/jquery/jquery-ui/jquery-tree
	url = git@github.com:dewhisna/jquery-tree.git
[submodule "programs/qwebchannel/html/jquery/jquery-ui/fancytree"]
	path = programs/qwebchannel/html/jquery/jquery-ui/fancytree
	url = git@github.com:dewhisna/fancytree.git
