[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=King James Pure Bible Search
Comment=Search and Count the Pure King James Bible
Icon=KJVPureBibleSearch
Terminal=false
Exec=/opt/kjvpurebiblesearch/KJVCanOpener/app/KJVCanOpener %f
Categories=Education;Application;
MimeType=application/vnd.dewtronics.kjvcanopener.kjsfile;

